nav {
    background-color: red;
}
img {
    height: 48px;
}
a {
    font-size: 1.4rem;
}
.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
}